<div class="row">
	<div class="col">
		<h4 class="text-center">
			<span class="badge badge-secondary">
				<i class="fas fa-donate text-warning mr-2"></i>{{$.DONATIONS}}</span>
		</h4>
		<div class="jumbotron mt-3">
			<p class="lead">{{$.DONATIONS_TEXT}}</p>
			
				{{> binance_button }}
			
		</div>
		<table class="table table-bordered text-center">
			<tbody>
				<tr class="table-active">
					<td>
						<h5>{{$.VERGE}} - ({{$.CURRENCY}})</h5>
						<p class="text-warning text-wrap monospace small">{{$.DONATION_ADDRESS}}</p>
						<img alt="qrcode" src="https://chart.googleapis.com/chart?cht=qr&chl={{$.DONATION_ADDRESS}}&chs=128x128&chld=L%7C0">
					</td>
				</tr>
				<tr class="table-active">
					<td>
						<h5>{{$.BITCOIN}} - ({{$.BTC}})</h5>
						<p class="text-warning text-wrap monospace small">{{$.DONATION_BTC}}</p>
						<img alt="qrcode" src="https://chart.googleapis.com/chart?cht=qr&chl={{$.DONATION_BTC}}&chs=128x128&chld=L%7C0">
					</td>
				</tr>
				<tr class="table-active">
					<td>
						<h5>{{$.LITECOIN}} - ({{$.LTC}})</h5>
						<p class="text-warning text-wrap monospace small">{{$.DONATION_LTC}}</p>
						<img alt="qrcode" src="https://chart.googleapis.com/chart?cht=qr&chl={{$.DONATION_LTC}}&chs=128x128&chld=L%7C0">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>