<div class="row" id="index">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <h4>
                    <span class="badge badge-secondary mb-1">
                        <i class="fa fa-cubes fa-lg text-success mr-2"></i>{{$.LAST_BLOCKS}}</span>
                    <button id="btn_blocks" class="btn btn-link float-right" title="{{$.REFRESH_BLOCKS}}">
                        <i class="fa fa-sync-alt fa-lg text-success" id="blocks_refresh"></i>
                    </button>
                </h4>
            </div>
        </div>
        <table class="table table-striped table-hover" id="blocks">
            <thead>
                <tr>
                    <th scope="col">{{$.HEIGHT}}</th>
                    <th scope="col" class="d-none d-sm-table-cell">{{$.HASH}}</th>
                    <th scope="col">{{$.TXS}}</th>
                    <th scope="col">{{$.TIME}}</th>
                </tr>
            </thead>
            <tbody>
                <!-- AJAX  BLOCKS -->
            </tbody>
        </table>
        <p class="text-center">
            <i class="fas fa-spinner fa-spin fa-3x text-muted m-3" id="blocks_loading"></i>
        </p>
    </div>
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <h4>
                    <span class="badge badge-secondary mb-1">
                        <i class="fa fa-money-check-alt text-info mr-2"></i>{{$.LATEST_TXS}}</span>
                    <button id="btn_txs" class="btn btn-link float-right" title="{{$.REFRESH_TXS}}">
                        <i class="fa fa-sync-alt fa-lg text-info" id="txs_refresh"></i>
                    </button>
                </h4>
            </div>
        </div>
        <table class="table table-striped table-hover" id="txs">
            <thead>
                <tr>
                    <th scope="col">{{$.TXID}}</th>
                    <th scope="col" class="d-none d-sm-table-cell">{{$.HEIGHT}}</th>
                    <th scope="col">{{$.AMOUNT}}</th>
                    <th scope="col">{{$.TIME}}</th>
                </tr>
            </thead>
            <tbody>
                <!-- AJAX TXS -->
            </tbody>
        </table>
        <p class="text-center">
            <i class="fas fa-spinner fa-spin fa-3x text-muted m-3" id="txs_loading"></i>
        </p>
    </div>
</div>
<div class="row mt-2 text-center" id="info">
    <div class="col">
        <span id="blocks_count">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <p class="small text-muted">{{$.BLOCKS}}</p>
        <span id="synced">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <p class="small text-muted">{{$.SYNCED}}</p>
    </div>
    <div class="col-md-3">
        <span class="amount38 small" id="moneysupply">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <span class="small"> {{$.CURRENCY}}</span>
        <p class="small text-muted">{{$.CIRCULATING_SUPPLY}}</p>
    </div>
    <div class="col-md-2">
        <span id="market_cap_usd">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <span class="small"> {{$.USD}}</span>
        <span id="market_cap_btc">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <span class="small"> {{$.BTC}}</span>
        <p class="small text-muted">{{$.MARKET_CAP}}</p>
    </div>
    <div class="col">
        <span id="volume_24h">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <span class="small"> {{$.USD}}</span>
        <p class="small text-muted">{{$.24H_VOLUME}}</p>
    </div>

    <div class="col-md-3">
        <span id="price_usd">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <span class="small"> {{$.USD}}</span>
        <span id="price_change" class="m-1" title="24h price change">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <p class="small text-muted">{{$.PRICE}}</p>
    </div>
    <div class="col">
        <span id="paytxfee">
            <i class="fas fa-spinner fa-spin text-muted"></i>
        </span>
        <span class="small"> {{$.CURRENCY}}</span>
        <p class="small text-muted">{{$.TX_FEE}}</p>
    </div>
</div>