<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Verge Cryptocurrency (XVG) blockchain explorer" />
	 <meta name="keywords" content="Verge,Explorer,XVG,Blockchain,VergeExplorer">

	<title>{{$.EXPLORER_NAME}}</title>
	<!-- FAVICON -->
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<!-- CSS -->
	{{!--
	<link rel="stylesheet" href="/css/bootstrap.min.css" /> --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/darkly/bootstrap.min.css" />
	{{!--
	<link rel="stylesheet" href="/css/fontawesome-all.min.css" /> --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
		.monospace {
			font-family: 'Roboto Mono', monospace;
		}

		a:hover {
			text-decoration: none;
		}

		input#search {
			width: 325px;
		}

		.text-wrap {
			word-wrap: break-word;
		}
	</style>
	<!-- JS -->
	{{!--
	<script src="/js/bootstrap-native-v4.min.js"></script> --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.24/bootstrap-native-v4.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-5">
		<a class="navbar-brand" href="/">
			<img src="/img/symbol_xs.png" alt="logo" class="align-top mr-1">{{$.EXPLORER_NAME}}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/richlist">
						<i class="fa fa-sort-amount-up mr-1"></i>{{$.RICHLIST}}</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="/peers">
						<i class="fa fa-project-diagram mr-1"></i>{{$.PEERS}}</a>
				</li>
			</ul>
			<span class="navbar-text mr-2 text-warning" id="error">{{ err }}</span>
			<form id="search_form" class="form-inline my-2 my-lg-0">
				<input type="text" name="search" id="search" class="form-control mr-2" placeholder="{{$.SEARCH_PLACEHOLDER}}"
				 autocomplete="off">
				<button type="submit" class="btn btn-success my-2">
					<i class="fa fa-search mr-1"></i>
					<strong>{{$.SEARCH}}</strong>
				</button>
			</form>
		</div>
	</nav>
	<div class="container">
		{{{body}}}
		<div class="row mt-5 mb-3">
			<div class="col-md-4 offset-md-4 text-center">
				<small class="text-muted">{{$.EXPLORER_NAME}}
					<i class="fa fa-copyright"></i> {{$.YEAR}}</small>
			</div>
			<div class="col-md-4 text-center">
				{{#if $.DONATION_ADDRESS}}
				<small class="text-muted">Donations: <a href="/address/{{$.DONATION_ADDRESS}}">{{$.DONATION_ADDRESS}}</a></small>
				{{/if}}
			</div>
		</div>

		{{!-- <p class="text-right mt-5">
			<small class="text-muted">Donation Address: {{$.DONATION_ADDRESS}}</small>
		</p>
		<p class="text-center">
			<small class="text-muted">{{$.EXPLORER_NAME}}
				<i class="fa fa-copyright"></i> {{$.YEAR}}</small>
		</p> --}}

	</div>
	<!-- JS -->
	<script src="/js/script.min.js"></script>
</body>

</html>