<div class="row">
    <div class="col p-0">
        <h4 class="text-center">
            <span class="badge badge-secondary">
                <i class="fa fa-sort-amount-up text-info mr-2"></i>{{$.RICHLIST}}</span>
            <span class="badge badge-secondary ml-2">{{$.TOP_100}}</span>
        </h4>
        <div id="timestamp" data-timestamp="{{ timestamp }}" class="ml-2 d-none">
            <small class="text-muted">{{$.RECALCULATED}}: </small><small id="ago" class="text-muted"></small><small class="text-muted">
                {{$.AGO}}</small>
        </div>
        <table id="richlist" class="table table-striped table-hover table-sm mt-3 mb-0" data-supply="{{ getInfo.moneysupply }}">
            <thead class="sticky-top bg-secondary">
                <tr>
                    <th class="text-muted">{{$.HASHTAG}}</th>
                    <th>{{$.ADDRESS}}</th>
                    <th>{{$.BALANCE_CURRENCY}}</th>
                    <th class="d-none d-lg-table-cell">{{$.VALUE}}</th>
                    <th>{{$.PERCENT}}</th>
                </tr>
            </thead>
            <tbody>
                <!-- AJAX RICHLIST -->
            </tbody>
        </table>
        <p class="text-center">
            <i class="fas fa-spinner fa-spin fa-3x text-muted m-3" id="richlist_loading"></i>
        </p>
    </div>
</div>